In [28]:
# 导入必要的库
import pandas as pd
import numpy as np
import datetime as dt
import matplotlib.pyplot as plt
import seaborn as sns

In [29]:
# 设置中文显示
plt.rcParams['font.sans-serif'] = ['SimHei']

In [30]:
df_order = pd.read_csv('JD_order_data.csv')
df_user = pd.read_csv('JD_user_data.csv')

print('订单数据基本信息：')
df_order.info()
print('\n用户数据基本信息：')
df_user.info()

订单数据基本信息：
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 549989 entries, 0 to 549988
Data columns (total 17 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   order_ID                    549989 non-null  object
 1   user_ID                     549989 non-null  object
 2   sku_ID                      549989 non-null  object
 3   order_date                  549989 non-null  object
 4   order_time                  549989 non-null  object
 5   quantity                    549989 non-null  int64
 6   type                        549989 non-null  int64
 7   promise                     549989 non-null  object
 8   original_unit_price         549989 non-null  float64
 9   final_unit_price            549989 non-null  float64
 10  direct_discount_per_unit    549989 non-null  float64
 11  quantity_discount_per_unit  549989 non-null  float64
 12  bundle_discount_per_unit    549989 non-null  float64
 13  coupon_discount_per_unit    549989 non-null  float64
 14  gift_item                   549989 non-null  int64
 15  dc_ori                      549989 non-null  int64
 16  dc_des                      549989 non-null  int64
dtypes: float64(6), int64(5), object(6)
memory usage: 71.3+ MB

用户数据基本信息：
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 457298 entries, 0 to 457297
Data columns (total 10 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   user_ID            457298 non-null  object
 1   user_level         457298 non-null  int64
 2   first_order_month  457298 non-null  object
 3   plus               457298 non-null  int64
 4   gender             457298 non-null  object
 5   age                457298 non-null  object
 6   marital_status     457298 non-null  object
 7   education          457298 non-null  int64
 8   city_level         457298 non-null  int64
 9   purchase_power     457298 non-null  int64
dtypes: int64(5), object(5)
memory usage: 34.9+ MB

In [31]:
# 合并用户与订单数据
merged_df = pd.merge(df_order, df_user, on='user_ID', how='left')

# 转换日期格式
merged_df['order_date'] = pd.to_datetime(merged_df['order_date'])
analysis_date = merged_df['order_date'].max()  # 分析截止日期

# 剔除赠品订单(gift_item=1)
merged_df = merged_df[merged_df['gift_item'] == 0]

# 数据质量检查
print("数据基本信息：")
print(merged_df.info())
print("\n数据缺失值情况：")
print(merged_df.isnull().sum())

数据基本信息：
<class 'pandas.core.frame.DataFrame'>
Index: 455383 entries, 0 to 549988
Data columns (total 26 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   order_ID                    455383 non-null  object
 1   user_ID                     455383 non-null  object
 2   sku_ID                      455383 non-null  object
 3   order_date                  455383 non-null  datetime64[ns]
 4   order_time                  455383 non-null  object
 5   quantity                    455383 non-null  int64
 6   type                        455383 non-null  int64
 7   promise                     455383 non-null  object
 8   original_unit_price         455383 non-null  float64
 9   final_unit_price            455383 non-null  float64
 10  direct_discount_per_unit    455383 non-null  float64
 11  quantity_discount_per_unit  455383 non-null  float64
 12  bundle_discount_per_unit    455383 non-null  float64
 13  coupon_discount_per_unit    455383 non-null  float64
 14  gift_item                   455383 non-null  int64
 15  dc_ori                      455383 non-null  int64
 16  dc_des                      455383 non-null  int64
 17  user_level                  455383 non-null  int64
 18  first_order_month           455383 non-null  object
 19  plus                        455383 non-null  int64
 20  gender                      455383 non-null  object
 21  age                         455383 non-null  object
 22  marital_status              455383 non-null  object
 23  education                   455383 non-null  int64
 24  city_level                  455383 non-null  int64
 25  purchase_power              455383 non-null  int64
dtypes: datetime64[ns](1), float64(6), int64(10), object(9)
memory usage: 93.8+ MB
None

数据缺失值情况：
order_ID                      0
user_ID                       0
sku_ID                        0
order_date                    0
order_time                    0
quantity                      0
type                          0
promise                       0
original_unit_price           0
final_unit_price              0
direct_discount_per_unit      0
quantity_discount_per_unit    0
bundle_discount_per_unit      0
coupon_discount_per_unit      0
gift_item                     0
dc_ori                        0
dc_des                        0
user_level                    0
first_order_month             0
plus                          0
gender                        0
age                           0
marital_status                0
education                     0
city_level                    0
purchase_power                0
dtype: int64

In [32]:
merged_df

,order_ID,user_ID,sku_ID,order_date,order_time,quantity,type,promise,original_unit_price,final_unit_price,...,dc_des,user_level,first_order_month,plus,gender,age,marital_status,education,city_level,purchase_power
0,d0cf5cc6db,0abe9ef2ce,581d5b54c1,2018-03-01,2018-03-01 17:14:25.0,1,2,-,89.0,79.0,...,28,1,2013-06,0,F,36-45,M,3,2,2
1,7444318d01,33a9e56257,067b673f2b,2018-03-01,2018-03-01 11:10:40.0,1,1,2,99.9,53.9,...,28,1,2016-05,0,F,26-35,S,2,2,3
2,f973b01694,4ea3cf408f,623d0a582a,2018-03-01,2018-03-01 09:13:26.0,1,1,2,78.0,58.5,...,28,2,2013-02,0,F,16-25,S,2,2,2
3,8c1cec8d4b,b87cb736cb,fc5289b139,2018-03-01,2018-03-01 21:29:50.0,1,1,2,61.0,35.0,...,28,3,2014-08,0,F,26-35,M,3,2,2
4,d43a33c38a,4829223b6f,623d0a582a,2018-03-01,2018-03-01 19:13:37.0,1,1,1,78.0,53.0,...,16,1,2014-10,0,F,26-35,M,2,2,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
549982,f1a1f20e07,6208a6bceb,6cb24edcc6,2018-03-31,2018-03-31 22:06:43.0,1,2,-,59.0,39.0,...,2,2,2014-10,0,M,26-35,S,3,2,2
549985,c9d77a7ed0,18f92434cd,7f53769d3f,2018-03-31,2018-03-31 08:55:57.0,1,1,3,118.0,55.0,...,2,2,2016-07,0,F,16-25,S,3,2,2
549986,b9ad79338f,b5caf8a580,8dc4a01dec,2018-03-31,2018-03-31 13:31:01.0,1,1,2,78.0,78.0,...,2,1,2017-11,0,F,16-25,M,2,2,3
549987,be3a9414b1,20ba6655f3,2dd6b818ec,2018-03-31,2018-03-31 12:51:18.0,1,2,-,189.0,78.0,...,28,2,2017-10,0,F,36-45,M,2,2,4
549988,02d31f05c9,f260895cbe,10d369ef96,2018-03-31,2018-03-31 18:21:16.0,1,2,4,68.0,49.0,...,28,2,2015-11,0,F,16-25,S,2,2,3

In [33]:
## 二、计算RFM指标（全量数据）
rfm = merged_df.groupby(['user_ID', 'plus']).agg({
    'order_date': lambda x: (analysis_date - x.max()).days,  # Recency
    'order_ID': 'count',                                     # Frequency
    'final_unit_price': 'sum'                                # Monetary
}).reset_index()

rfm.columns = ['user_ID', 'plus', 'Recency', 'Frequency', 'Monetary']

In [34]:
## 三、调整RFM评分逻辑（按会员类型分组）
# 定义分位数计算函数
def get_quantiles(group, metric):
    return group[metric].quantile([0.2, 0.4, 0.6, 0.8]).values

# 计算分位数（不抽样，使用全量数据）
quantiles = rfm.groupby('plus').apply(lambda x: {
    'Recency': get_quantiles(x, 'Recency'),
    'Frequency': get_quantiles(x, 'Frequency'),
    'Monetary': get_quantiles(x, 'Monetary')
}).to_dict()

# 评分函数（同之前逻辑，弱化Frequency）
def rfm_scoring(x, q, metric_type):
    if metric_type == 'Recency':
        if x <= q[0]: return 5
        elif x <= q[1]: return 4
        elif x <= q[2]: return 3
        elif x <= q[3]: return 2
        else: return 1
    elif metric_type == 'Frequency':
        return 5 if x >= 2 else 1  # 简化评分
    else:
        if x > q[3]: return 5
        elif x > q[2]: return 4
        elif x > q[1]: return 3
        elif x > q[0]: return 2
        else: return 1

# 应用评分函数
rfm['R'] = rfm.apply(lambda row: rfm_scoring(row['Recency'], quantiles[row['plus']]['Recency'], 'Recency'), axis=1)
rfm['F'] = rfm.apply(lambda row: rfm_scoring(row['Frequency'], quantiles[row['plus']]['Frequency'], 'Frequency'), axis=1)
rfm['M'] = rfm.apply(lambda row: rfm_scoring(row['Monetary'], quantiles[row['plus']]['Monetary'], 'Monetary'), axis=1)

/var/folders/w4/kry90djd25l1bcclv6_2szh00000gn/T/ipykernel_7278/1739559347.py:7: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  quantiles = rfm.groupby('plus').apply(lambda x: {

In [35]:
print("F评分分布：")
print(rfm['F'].value_counts(normalize=True))

F评分分布：
F
1    0.902666
5    0.097334
Name: proportion, dtype: float64

In [36]:
## 四、客户分群（基于R和M）
def segment_customers(row):
    r, m = row['R'], row['M']
    if r >= 4 and m >= 5:          # 高价值客户：R前20%活跃 + M前20%消费
        return '高价值客户'
    elif r >= 4 and m >= 3:       # 潜力客户：R前20%活跃 + M前40%-60%消费
        return '潜力客户'
    elif r < 4 and m >= 4:        # 高消费沉睡客户：R后80%不活跃 + M前20%-40%消费
        return '高消费沉睡客户'
    else:
        return '低价值客户'

rfm['Segment'] = rfm.apply(segment_customers, axis=1)

In [37]:
## 五、结果分析与可视化
# 各分群基础统计
segment_stats = rfm.groupby('Segment')[['Recency', 'Frequency', 'Monetary', 'R', 'F', 'M']].agg(['mean', 'count'])
print("\n=== 各分群RFM指标统计 ===")
print(segment_stats)

# 计算每个分群的RFM分数分布
segment_rfm_scores = rfm.groupby('Segment').agg({
    'R': ['mean', 'std'],
    'F': ['mean', 'std'],
    'M': ['mean', 'std']
}).round(2)

print("\n各分群的RFM分数分布：")
print(segment_rfm_scores)

# 客户占比
segment_proportion = rfm['Segment'].value_counts(normalize=True).reset_index()
print("\n=== 各分群客户占比 ===")
print(segment_proportion)

# PLUS会员比例
plus_ratio = rfm.groupby('Segment')['plus'].mean().reset_index()
print("\n=== 各分群PLUS会员比例 ===")
print(plus_ratio)

# 计算每个分群中plus会员和非plus会员的占比
segment_plus_dist = rfm.groupby(['Segment', 'plus']).size().unstack(fill_value=0)
segment_plus_dist['plus_0_占比'] = segment_plus_dist[0] / segment_plus_dist[0].sum() * 100
segment_plus_dist['plus_1_占比'] = segment_plus_dist[1] / segment_plus_dist[1].sum() * 100

print("\n各分群中plus会员和非plus会员的分布：")
print(segment_plus_dist.round(2))

=== 各分群RFM指标统计 ===
           Recency         Frequency            Monetary                 R  \
              mean   count      mean   count        mean   count      mean
Segment
低价值客户    17.120507  208635  1.025082  208635   48.824746  208635  2.772675
潜力客户      5.009546   72281  1.105616   72281   89.644803   72281  4.481966
高价值客户     4.684274   34815  1.483987   34815  236.667978   34815  4.533276
高消费沉睡客户  21.895232   88157  1.247037   88157  164.238152   88157  2.104461

                        F                 M
          count      mean   count      mean   count
Segment
低价值客户    208635  1.095900  208635  1.797167  208635
潜力客户      72281  1.389093   72281  3.458364   72281
高价值客户     34815  2.113773   34815  5.000000   34815
高消费沉睡客户   88157  1.797895   88157  4.516907   88157

各分群的RFM分数分布：
            R           F           M
         mean   std  mean   std  mean   std
Segment
低价值客户    2.77  1.35  1.10  0.61  1.80  0.76
潜力客户     4.48  0.50  1.39  1.19  3.46  0.50
高价值客户    4.53  0.50  2.11  1.79  5.00  0.00
高消费沉睡客户  2.10  0.80  1.80  1.60  4.52  0.50

=== 各分群客户占比 ===
   Segment  proportion
0    低价值客户    0.516566
1  高消费沉睡客户    0.218271
2     潜力客户    0.178963
3    高价值客户    0.086200

=== 各分群PLUS会员比例 ===
   Segment      plus
0    低价值客户  0.176811
1     潜力客户  0.185429
2    高价值客户  0.182766
3  高消费沉睡客户  0.182107

各分群中plus会员和非plus会员的分布：
plus          0      1  plus_0_占比  plus_1_占比
Segment
低价值客户    171746  36889      51.86      50.74
潜力客户      58878  13403      17.78      18.43
高价值客户     28452   6363       8.59       8.75
高消费沉睡客户   72103  16054      21.77      22.08

In [38]:
# 各分群内会员与非会员的 Monetary 均值对比
member_stats = rfm.groupby(['Segment', 'plus'])['Monetary'].agg(['mean', 'count']).reset_index()
member_stats.columns = ['Segment', 'plus', 'Avg_Monetary', 'Count']
print(member_stats)

   Segment  plus  Avg_Monetary   Count
0    低价值客户     0     48.863093  171746
1    低价值客户     1     48.646210   36889
2     潜力客户     0     85.939225   58878
3     潜力客户     1    105.923028   13403
4    高价值客户     0    228.437802   28452
5    高价值客户     1    273.469011    6363
6  高消费沉睡客户     0    157.259354   72103
7  高消费沉睡客户     1    195.581885   16054

In [39]:
total_member_spend = rfm[rfm['plus'] == 1]['Monetary'].sum()
high_value_member_spend = rfm[(rfm['Segment'] == '高价值客户') & (rfm['plus'] == 1)]['Monetary'].sum()
print(f"高价值会员消费占比：{high_value_member_spend / total_member_spend * 100:.2f}%")

高价值会员消费占比：21.50%

In [40]:
rfm['Customer_Segment'] = rfm.apply(segment_customers, axis=1)
rfm['is_high'] = (rfm['Customer_Segment'] == '高价值客户').astype(int)

In [41]:
rfm['is_high']

0         0
1         0
2         0
3         1
4         0
         ..
403883    0
403884    0
403885    0
403886    0
403887    0
Name: is_high, Length: 403888, dtype: int64

In [42]:
rfm

,user_ID,plus,Recency,Frequency,Monetary,R,F,M,Segment,Customer_Segment,is_high
0,000089d6a6,0,17,1,215.0,3,1,5,高消费沉睡客户,高消费沉睡客户,0
1,0000babd1f,0,9,1,39.0,4,1,1,低价值客户,低价值客户,0
2,0000bc018b,0,1,1,79.0,5,1,3,潜力客户,潜力客户,0
3,0000d0e5ab,0,3,1,228.0,5,1,5,高价值客户,高价值客户,1
4,0000dce472,1,13,1,111.5,3,1,4,高消费沉睡客户,高消费沉睡客户,0
...,...,...,...,...,...,...,...,...,...,...,...
403883,ffff03373a,0,25,1,44.9,2,1,1,低价值客户,低价值客户,0
403884,ffff0b5ecd,0,3,1,129.0,5,1,4,潜力客户,潜力客户,0
403885,ffff38690b,0,15,1,237.0,3,1,5,高消费沉睡客户,高消费沉睡客户,0
403886,ffffb20ef7,0,7,1,59.0,4,1,2,低价值客户,低价值客户,0
403887,ffffc45330,0,14,1,49.0,3,1,2,低价值客户,低价值客户,0

In [43]:
high_df = rfm[['user_ID', 'is_high']]

In [44]:
merged_df = pd.merge(merged_df, high_df, on='user_ID', how='left')
merged_df['is_high'] = merged_df['is_high'].fillna(0).astype(int)
merged_df

,order_ID,user_ID,sku_ID,order_date,order_time,quantity,type,promise,original_unit_price,final_unit_price,...,user_level,first_order_month,plus,gender,age,marital_status,education,city_level,purchase_power,is_high
0,d0cf5cc6db,0abe9ef2ce,581d5b54c1,2018-03-01,2018-03-01 17:14:25.0,1,2,-,89.0,79.0,...,1,2013-06,0,F,36-45,M,3,2,2,0
1,7444318d01,33a9e56257,067b673f2b,2018-03-01,2018-03-01 11:10:40.0,1,1,2,99.9,53.9,...,1,2016-05,0,F,26-35,S,2,2,3,0
2,f973b01694,4ea3cf408f,623d0a582a,2018-03-01,2018-03-01 09:13:26.0,1,1,2,78.0,58.5,...,2,2013-02,0,F,16-25,S,2,2,2,0
3,8c1cec8d4b,b87cb736cb,fc5289b139,2018-03-01,2018-03-01 21:29:50.0,1,1,2,61.0,35.0,...,3,2014-08,0,F,26-35,M,3,2,2,0
4,d43a33c38a,4829223b6f,623d0a582a,2018-03-01,2018-03-01 19:13:37.0,1,1,1,78.0,53.0,...,1,2014-10,0,F,26-35,M,2,2,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
455378,f1a1f20e07,6208a6bceb,6cb24edcc6,2018-03-31,2018-03-31 22:06:43.0,1,2,-,59.0,39.0,...,2,2014-10,0,M,26-35,S,3,2,2,0
455379,c9d77a7ed0,18f92434cd,7f53769d3f,2018-03-31,2018-03-31 08:55:57.0,1,1,3,118.0,55.0,...,2,2016-07,0,F,16-25,S,3,2,2,0
455380,b9ad79338f,b5caf8a580,8dc4a01dec,2018-03-31,2018-03-31 13:31:01.0,1,1,2,78.0,78.0,...,1,2017-11,0,F,16-25,M,2,2,3,0
455381,be3a9414b1,20ba6655f3,2dd6b818ec,2018-03-31,2018-03-31 12:51:18.0,1,2,-,189.0,78.0,...,2,2017-10,0,F,36-45,M,2,2,4,0
455382,02d31f05c9,f260895cbe,10d369ef96,2018-03-31,2018-03-31 18:21:16.0,1,2,4,68.0,49.0,...,2,2015-11,0,F,16-25,S,2,2,3,0

In [45]:
plus_df = merged_df[merged_df['plus'] == 1]
plus_df

,order_ID,user_ID,sku_ID,order_date,order_time,quantity,type,promise,original_unit_price,final_unit_price,...,user_level,first_order_month,plus,gender,age,marital_status,education,city_level,purchase_power,is_high
8,9c65b6264b,2021a86702,068f4481b3,2018-03-01,2018-03-01 00:12:07.0,1,1,1,298.0,208.0,...,1,2017-10,1,F,16-25,U,3,4,-1,0
12,11bb010740,e5b7eff416,6e18cb9666,2018-03-01,2018-03-01 10:05:56.0,1,1,3,269.0,169.0,...,4,2013-08,1,F,26-35,M,4,2,2,0
19,37327053be,e278593de1,90a8e42962,2018-03-01,2018-03-01 18:32:38.0,1,2,-,238.0,94.0,...,4,2013-02,1,F,26-35,S,3,2,2,0
20,d63faad1e8,1aa3eb1f80,6420ea9ac2,2018-03-01,2018-03-01 18:55:36.0,1,1,1,579.0,391.0,...,4,2011-09,1,F,46-55,M,4,2,2,0
35,3eb681f13b,5ccd5438ea,589c2b865b,2018-03-01,2018-03-01 17:14:45.0,1,1,2,79.9,36.9,...,4,2013-12,1,M,26-35,S,4,1,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
455352,7f87ad4097,64b299a57d,7f0ddbcdde,2018-03-31,2018-03-31 09:30:53.0,1,1,1,191.0,138.0,...,4,2011-09,1,M,36-45,M,4,2,2,0
455362,6f8490856e,94f9e951c9,721b2642a0,2018-03-31,2018-03-31 08:56:32.0,1,2,-,278.0,109.0,...,3,2015-11,1,F,36-45,M,3,2,2,0
455364,80915573ca,256f3c1255,068f4481b3,2018-03-31,2018-03-31 15:29:46.0,1,1,1,298.0,228.0,...,4,2014-05,1,M,26-35,S,3,2,2,1
455369,3f03e8b543,5091899a4b,7f947c0055,2018-03-31,2018-03-31 21:44:27.0,1,1,2,336.0,168.0,...,2,2016-12,1,M,26-35,S,3,2,1,0
455375,5fd298d448,165ee3e319,f7280c119d,2018-03-31,2018-03-31 12:42:35.0,1,2,3,269.0,189.0,...,4,2011-09,1,M,36-45,M,4,2,2,1

In [48]:
plus_df = pd.get_dummies(plus_df, columns=['gender', 'age', 'marital_status'], drop_first=True)

In [51]:
import statsmodels.api as sm

# 选择自变量和控制变量
X = plus_df[[
    'direct_discount_per_unit',
    'quantity_discount_per_unit',
    'bundle_discount_per_unit',
    'coupon_discount_per_unit',
    # 下面是自动生成的哑变量名举例
    'gender_M', 'age_26-35', 'age_36-45', # ...
    # 其他控制变量
]]

# 因变量
y = plus_df['is_high']

# 加上常数项
X = sm.add_constant(X)

# 拟合logistic回归
model = sm.Logit(y, X).fit()

# 输出结果
print(model.summary())

ValueError: Pandas data cast to numpy dtype of object. Check input data with np.asarray(data).